.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;

}

.display {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.number {
    flex: 1 0 calc(33.33% - 10px);
    text-align: center;
    padding: 20px;
    font-size: 18px;

}